dependencies {
    implementation(project(":model"))
    implementation(project(":usecase"))
    implementation("tech.eita:commons-jms-mq:{{commonsJmsVersion}}")
    implementation("org.springframework:spring-context")
}
